<div class="container">
  <mat-card>
    <mat-card-header>
      Welcome to {{title}}
    </mat-card-header>
    <button mat-raised-button (click)="getAllUsers()">
      Get Users
    </button>
  </mat-card>
</div>

<div class="container">
  <form [formGroup]="form">
    <label for="Nombre">Nombre</label>
    <input type="text" formControlName="nombre">
    <label for="Apellido">Apellido</label>
    <input type="text" formControlName="apellido">
    <label for="Apellido">Dirección</label>
    <input type="text" formControlName="direccion">
    <label for="email">email</label>
    <input type="text" formControlName="email">
    <button type="submit" (click)="createUser()" [disabled]="form.invalid">Submit</button>
  </form>
</div>

