<div class="container">
  <mat-card>
    <mat-card-header>
      Welcome to {{title}}
    </mat-card-header>
    <button mat-raised-button (click)="getAllUsers()">
      Get Users
    </button>
  </mat-card>

  <div>
    <ul>
      <li *ngFor="let user of users">
        <br>
        <p>{{ user.id }}</p>
        <hr>
        <p>{{ user.nombre }}</p>
        <hr>
        <p>{{ user.apellido }}</p>
        <hr>
        <p>{{ user.direccion }}</p>
        <hr>
        <p>{{ user.email }}</p>
        <hr>
        <button class="delete" title="delete hero"
          (click)="deleteUser(user)">Delete User
        </button>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <label for="Nombre">Nombre</label>
      <input matInput type="text" formControlName="nombre">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label for="Apellido">Apellido</label>
    <input matInput type="text" formControlName="apellido">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label for="Apellido">Dirección</label>
      <input matInput type="text" formControlName="direccion">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label for="email">email</label>
      <input matInput type="text" formControlName="email">
    </mat-form-field>
    <button mat-raised-button type="submit" (click)="createUser()" [disabled]="form.invalid">Submit</button>
  </form>
</div>

