<mat-card>
    <mat-card-header>
      <!-- Welcome to {{title}} -->
    </mat-card-header>
    <button mat-raised-button (click)="getAllUsers()">
      Get Users
    </button>
</mat-card>

<table mat-table [dataSource]="users">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element"> {{  element.id  }} </td>
  </ng-container>
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element"> {{  element.nombre  }} </td>
  </ng-container>
  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef>Apellido</th>
    <td mat-cell *matCellDef="let element"> {{  element.apellido  }} </td>
  </ng-container>
  <ng-container matColumnDef="direccion">
    <th mat-header-cell *matHeaderCellDef>Dirección</th>
    <td mat-cell *matCellDef="let element"> {{  element.direccion  }} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>email</th>
    <td mat-cell *matCellDef="let element"> {{  element.email  }} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <a href="">
        <fa-icon [icon]="faPen"></fa-icon>
      </a>
      <a href="">
        <fa-icon [icon]="faXmark"></fa-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>

